# Project 2: Pipelines and optimisations

# Part 1: Data exploration

# 1.1   what a frequency is:
              In general, frequency is a measurement of how often something happens in a period of time.

# 1.2  what the median frequency means

# 1.3  what the output label is:
             Output lavel is our prediction the voice is either male or female. We need to convert in binary format 1 or 0.

# Data preprocessing

In [1]:
%pylab inline
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [20]:
#data_url = "https://github.com/sarker24/ML_Assignment02/blob/master/voice.csv"
#df = pd.read_csv(data_url)
df = pd.read_csv(r'C:\Users\sarke\Desktop\Ml_Assignment02\voice.csv')

In [21]:
df.sample(5)

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,...,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
1071,0.196788,0.060888,0.214694,0.135102,0.250612,0.115510,1.146103,3.468774,0.912933,0.387203,...,0.196788,0.133846,0.047013,0.275862,1.443954,0.023438,6.093750,6.070312,0.158301,male
901,0.189990,0.066268,0.180354,0.134815,0.256103,0.121288,2.297650,8.986553,0.895766,0.413779,...,0.189990,0.136140,0.046967,0.275862,0.619792,0.023438,5.484375,5.460938,0.052863,male
3155,0.178573,0.046679,0.164388,0.149309,0.204601,0.055293,3.066668,15.684088,0.891448,0.321169,...,0.178573,0.155380,0.025478,0.253968,0.637921,0.148438,6.148438,6.000000,0.101291,female
30,0.153039,0.074031,0.158065,0.092731,0.214366,0.121634,0.885702,3.523982,0.973218,0.807552,...,0.153039,0.067407,0.016260,0.205128,0.261562,0.007812,1.023438,1.015625,0.191346,male
2674,0.207360,0.034840,0.216804,0.186359,0.230643,0.044283,1.994092,6.604918,0.857098,0.211331,...,0.207360,0.147177,0.047105,0.251309,1.914789,0.023438,8.062500,8.039062,0.180102,female

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3168 entries, 0 to 3167
Data columns (total 21 columns):
meanfreq    3168 non-null float64
sd          3168 non-null float64
median      3168 non-null float64
Q25         3168 non-null float64
Q75         3168 non-null float64
IQR         3168 non-null float64
skew        3168 non-null float64
kurt        3168 non-null float64
sp.ent      3168 non-null float64
sfm         3168 non-null float64
mode        3168 non-null float64
centroid    3168 non-null float64
meanfun     3168 non-null float64
minfun      3168 non-null float64
maxfun      3168 non-null float64
meandom     3168 non-null float64
mindom      3168 non-null float64
maxdom      3168 non-null float64
dfrange     3168 non-null float64
modindx     3168 non-null float64
label       3168 non-null object
dtypes: float64(20), object(1)
memory usage: 519.8+ KB

In [26]:
df.isnull().any()

meanfreq    False
sd          False
median      False
Q25         False
Q75         False
IQR         False
skew        False
kurt        False
sp.ent      False
sfm         False
mode        False
centroid    False
meanfun     False
minfun      False
maxfun      False
meandom     False
mindom      False
maxdom      False
dfrange     False
modindx     False
label       False
dtype: bool

In [30]:
df.label.value_counts()

male      1584
female    1584
Name: label, dtype: int64

In [33]:
df.label = np.where(df.label.values == 'female', 1, 0)
df.label.value_counts()

C:\Users\sarke\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  """Entry point for launching an IPython kernel.

0    3168
Name: label, dtype: int64

In [38]:
X = df.drop('label', axis = 1)
Y = df.label

In [39]:
X.shape

(3168, 20)

In [40]:
Y.shape

(3168,)